@font-face {
    font-family: 'Circular Std Book, sans-serif';
    src: url(fonts/FontsFree-Net-Circular-Std-Book.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Source+Code+Pro&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std Book, sans-serif';
    font-size: 1.6rem;
    background: #10101a;
    background-size: 400% 400%;
}

.header {
    margin-top: 15rem;
    padding: 0 6rem;
    display: block;
}

.nav_bar_index,
.nav_bar {
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    max-width: 50%;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}

.nav_bar_index{
    border: 0.2rem solid rgba(42, 43, 56, 0.5);
    background: rgba(42, 43, 56);
    z-index: 2;
}

.nav_bar{
    border: 0.2rem solid #2a2b37;
    background: rgba(42, 43, 56, .5);
    backdrop-filter: blur(104px);
}
.brand_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4px;
    margin: 1rem 0;
}


.brand_logo_text_wrapper,
.brand_logo_text_wrapper_index {
    position: absolute;
    overflow: hidden;
    color: #c4c4c4;
    font-size: 0.7rem;
    font-weight: 900;
    left: 6rem;
    top: 2.2rem;
}

.brand_logo_text_wrapper_index{
    width: 6.5rem;
}

.brand_logo_title {
    position: relative;
    bottom: 0;
    left: 0.2rem;
    padding-top: 0.3rem;
}

.brand_logo_text_wrapper 
.brand_logo_text {
    animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) 0s infinite normal none;
    
}

@keyframes logoLeftAnim {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-110%);
    }

    50%,
    to {
        transform: translate(0);
    }

}

.toggle_bar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    gap: 1rem;
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    right: 0rem;
    padding-right: 1rem;
    top: 1.9rem;
}

.toggle_bar_menu button {
    color: #c4c4c4;
    font-size: 1.2rem;
    font-weight: 900;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle_bar_menu button:hover,
.toggle_bar_menu .dropdown:hover,
.menu-list a:hover{
    color: #cf59e6;
}

.toggle_bar_menu ul {
    display: flex;
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    right: 0;
    /* display: none; */
    list-style: none;
    line-height: 2ch;
    margin-top: 10rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.toggle_bar_menu a,
.menu-top a {
    text-decoration: none;
}

.toggle_bar_menu li {
    background: rgba(42, 43, 56, .5);
    border: 0.2rem solid #2a2b37;
    backdrop-filter: blur(104px);
    border-radius: 2rem;
    padding: 0 1rem;
    width: max-content;
}

.toggle_bar_menu button:focus 
+.menu-list{
   
    opacity: 1;
    pointer-events: all;
}

/* Why when positioned absolute it comes out of the menu div? */

.header_hero {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    line-height: 110%;
    color: #fff;
}

.header_hero_gradient {
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }

}

.header_hero_code {
    width: max-content;
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

.header_hero_code::before,
.header_hero_code::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header_hero_code::before {
    background: #10101a;
    animation: typewriter 6s steps(16) 1s infinite;
}

.header_hero_code::after {
    width: 0.125rem;
    background: #fff;
    animation: typewriter 6s steps(16) 1s infinite, blink 750ms steps(16) infinite;
}


@keyframes typewriter {
    50% {
        left: 16ch;
    }

    100% {
        left: 16ch;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }

}

.header_hero_projectlink{
    margin-top: 5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Encode Sans Condensed', sans-serif;

}

.menu-top {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    margin-top: 20rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
}

.menu-top h4 {
    font-size: 1.2rem;
}

.go-see-icons {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
}

.menu-top-right h4 {
    margin-bottom: 2rem;
}

.menu-top-right a {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

/* About Me Page About Me Page About Me Page*/

.writeup {
    display: grid;
    place-items: center;
    margin-top: 20rem;
}

.profile-pic img {
    border: 3px dotted #8000ff;
    border-radius: 50%;
}

.text {
    text-align: center;
    color: #c4c4c4;
    font-family: 'Source Code Pro', monospace;
    max-width: 60%;
}

.text p {
    margin-top: 2rem;
}