@font-face {
    font-family: 'Circular Std Book, sans-serif';
    src: url(fonts/FontsFree-Net-Circular-Std-Book.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Source+Code+Pro&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    pointer-events: auto;
}

body {
    font-family: 'Circular Std Book, sans-serif';
    font-size: 1.6rem;
    background: #10101a;
    background-size: 400% 400%;
}

.header {
    margin-top: 15rem;
    padding: 0 6rem;
    display: block;
}

/* Nav bar Nav bar Nav bar Nav bar Nav bar Nav bar */
.nav_bar_index,
.nav_bar {
    position: fixed;
    top: 5rem;
    right: 0;
    left: 0;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 325px;
    max-width: 50%;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}

.nav_bar_index {
    border: 0.2rem solid rgba(42, 43, 56, 0.5);
    background: rgba(42, 43, 56);
    z-index: 2;
}

.nav_bar {
    border: 0.2rem solid #2a2b37;
    background: rgba(42, 43, 56, .5);
    backdrop-filter: blur(104px);
}

.brand_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4px;
    margin: 1rem 0;
}


.brand_logo_text_wrapper,
.brand_logo_text_wrapper_index {
    position: absolute;
    overflow: hidden;
    color: #c4c4c4;
    font-size: 0.7rem;
    font-weight: 900;
    left: 6rem;
    top: 2.2rem;
}

.brand_logo_text_wrapper_index {
    /* width: 6.5rem; */
}

.brand_logo_title {
    position: relative;
    bottom: 0;
    left: 0.2rem;
    padding-top: 0.3rem;
}

.brand_logo_text_wrapper .brand_logo_text {
    animation: logoLeftAnim 15s cubic-bezier(1, 0, 0, 1) 0s infinite normal none;

}

@keyframes logoLeftAnim {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-110%);
    }

    50%,
    to {
        transform: translate(0);
    }

}

/* Drop menu in Nav bar Drop menu in Nav bar */

.toggle_bar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8000ff;
    gap: 1rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    position: absolute;
    right: 0rem;
    padding-right: 1rem;
    top: 1.9rem;
}

.toggle_bar_menu .dropdown,
.toggle_bar_menu button {
    color: #8000ff;
}

.toggle_bar_menu button {

    font-size: 1.2rem;
    font-weight: 900;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle_bar_menu button:hover,
.menu-list a:hover {
    color: #cf59e6;
}

.toggle_bar_menu .menu-list {
    display: flex;
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    align-items: center;
    right: 0;
    list-style: none;
    line-height: 2ch;
    margin-top: 10rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.toggle_bar_menu a,
.menu-top a {
    text-decoration: none;
}

.toggle_bar_menu li {
    background: rgba(42, 43, 56, .5);
    border: 0.2rem solid #2a2b37;
    backdrop-filter: blur(104px);
    border-radius: 2rem;
    padding: 0 1rem;
    width: max-content;
}

.toggle_bar_menu button:focus+ul {

    opacity: 1;
    /* pointer-events: all; */
}

/* Hero section Hero section Hero section Hero section */

.hero_wrapper {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.hero {
    grid-column: 2/14;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    line-height: 110%;
    color: #fff;
    padding: 0 6rem;
    padding-top: 2rem;
}

.hero_gradient {
    background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }

}

.hero_code {
    width: max-content;
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

.hero_code::before,
.hero_code::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero_code::before {
    background: #10101a;
    animation: typewriter 6s steps(16) 1s infinite;
}

.hero_code::after {
    width: 0.125rem;
    background: #fff;
    animation: typewriter 6s steps(16) 1s infinite, blink 750ms steps(16) infinite;
}


@keyframes typewriter {
    50% {
        left: 16ch;
    }

    100% {
        left: 16ch;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }

}

.hero_projectlink {
    margin-top: 5rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    position: relative;

}

.hero_projectlink::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    transition: all.3s ease;
}

.hero_projectlink:hover::after {
    width: 100%;
}

/* Main section Main section Main section Main Section */

.container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.about-text {
    grid-column: 1/15;
    padding: 0 4rem;
    color: #c4c4c4;
    font-size: 1.2rem;

}

.section-projects {
    grid-column: 2/15;
    /* margin-top: 20rem; */
    padding: 0 6rem;
    padding-top: 18rem;
    color: #c4c4c4;
}

.heading-1 {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.heading-1 span {
    display: inline-block;
    padding-right: 0.3rem;
    background-image: linear-gradient(90deg, #cf59e6, #6bc5f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-projects p {
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-size: 1.2rem;
}

.section-projects .project-card {
    width: 80%;
    margin: 8rem auto;
    padding: 4rem;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
    border: 0.2rem solid #20222e;
    backdrop-filter: blur(54px);
    border-radius: 4rem;
}

.section-projects .project-card_left {
    margin-right: 4rem;
    color: #c4c4c4;
}

.section-projects .project-card_left h4 {
    transform: rotate(180deg);
    writing-mode: tb-rl;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: .8rem;
    font-weight: 100;
    color: #8b8b8b;
    line-height: 120%;
}

.section-projects .project-card_middle {
    width: 35rem;
    height: 25rem;
    background-size: cover;
    background: fixed;
    border-radius: 5.3rem;
    overflow: hidden;
}

.section-projects .project-card_right {
    margin-left: 4rem;
}

.section-projects .project-card_right h2 {
    margin-bottom: 4rem;

}

.section-projects .project-card:first-of-type a {
    color: #d063c6;
}

.section-projects .project-card_link {
    /* display: inline-block; */
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    position: relative;

}

.project-card_link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 50%;
    height: 1px;
    background: #c4c4c4;
    transition: all.3s ease;
}

.project-card_link:hover::after {
    width: 100%;
}

.section-projects .project-card_socials {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    width: 30px;
    height: 40px;
    /* background-color: #8b8b8b; */

}

.project-card_socials img {
    background-color: #8b8b8b;
    border-radius: 50%;
}

.project-card_socials img:hover {
    background-color: #cf59e6;
}

/* Interest section Interest section Interest section Interest section */




.menu-top {

    grid-column: 1/15;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
}

.menu-top h4 {
    font-size: 1.2rem;
}

.go-see-icons {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
}

.menu-top-right h4 {
    margin-bottom: 2rem;
}

.menu-top-right a {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

.menu-top-right a:hover {
    background-image: linear-gradient(135deg, #cf59e6, #6bc5f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About Me Page About Me Page About Me Page*/

.writeup {
    display: grid;
    place-items: center;
    margin-top: 20rem;
}

.profile-pic img {
    border: 3px dotted #8000ff;
    border-radius: 50%;
}

.text {
    text-align: center;
    color: #c4c4c4;
    font-family: 'Source Code Pro', monospace;
    max-width: 60%;
}

.text p {
    margin-top: 2rem;
}


/* footer section footer section footer section footer section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20rem;
    padding: 1rem 2em;
    border-top: 1px solid hsla(0, 0%, 75%, .25);
    background: #000;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: #c4c4c4;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 1rem;
}

.footer h6{
    color: #c4c4c4;
    font-size: 0.6rem;
    font-weight: 900;
}


/* media queries media queries media queries media queries*/
@media screen and (max-width:640px) {

    .nav_bar_index,
    .nav_bar {
        width: 75%;

    }

    .hero {
        font-size: 3rem;
    }

}